@media(max-width:767px){
	.main-wrpper{height: auto;max-width: 430px;width: 100%;}
}

@media(max-width:375px){
	.main-wrpper{width: 100%;}
	.inner-form .form-group{margin: 0 0 20px;}
	.btn-primary{padding: 10px 30px;font-size: 16px;}
	.btn-secondary{padding: 8px 30px;font-size: 16px;}

}